<div class="container" style="padding-top: 20px">
  <h5>{{this.title}}</h5>

  <div class="row">
    <form materialize class="col s12" (submit)="addTask()">
      <div class="row">
        <div class="input-field col s9">
          <input placeholder="Ex: Code the HTML" id="task" name="task" type="text" class="validate" [(ngModel)]="task">

        </div>
        <div class="input-field col s3">
          <button class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i>
          </button>

        </div>
      </div>
    </form>
    <div class="row">
      <div class="col l6 m6 s12">
        <p>To do</p>
        <div class="col l12 m12 s12" *ngFor="let task of tasks;let i = index">
          <input type="checkbox" id="status{{i}}" (change)="remove(i)"/>
          <label for="status{{i}}">{{task}}</label>
        </div>
      </div>
      <div class="col l6 m6 s12">
        <p>Done</p>
        <div class="col l12 m12 s12" *ngFor="let task of doneTasks;let i = index">
          <label for="status{{i}}">{{task}}</label>
        </div>
      </div>
    </div>

  </div>

</div>
